<?php
$bannerData = $this->getBannerData();
$banners = $bannerData['banners'];
if(count($banners) > 0) {
?>

    <!--<script type="text/javascript" src="<?php /*echo $this->getBaseJs('jquery-1.7.min.js') */ ?>"></script>
    <script type="text/javascript" src="<?php /*echo $this->getBaseJs('jquery.flexslider.js') */ ?>"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="<?php /*echo $this->getBaseJs('flexslider.css') */ ?>" media="all" />-->

    <script type="text/javascript">
        require(['jquery', 'bannerslider'], function ($) {
            $(window).load(function () {

                $('.flexslider-8').flexslider({
                    animation: "fade",
                    controlNav: "thumbnails",
                    slideshowSpeed: 2000,
                    minItems: 2,
                    maxItems: 4
                });
            });

        });
    </script>
    <div class="flexslider flexslider-8">
        <ul class="slides">
            <?php foreach ($banners as $banner): ?>
                <li data-thumb="<?php echo $this->getBannerImage($banner['image']); ?>">
                    <a href="" target="" onclick="" style="display:block"><img alt=""
                                                                               src="<?php echo $this->getBannerImage($banner['image']); ?>"/></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php
}else{
    echo __('No Banner Record Found.');
}
?>